@model Casino.Models.Parameters.TipoComida

@{
    ViewData["Title"] = "Delete";
 
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TipoComida</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TiempoInicial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TiempoInicial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TiempoFinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TiempoFinal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Limite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Limite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cronograma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cronograma)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
