@model IEnumerable<Casino.Models.Parameters.TipoComida>

@{
    ViewData["Title"] = "Index";
 
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TiempoInicial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TiempoFinal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Limite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cronograma)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TiempoInicial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TiempoFinal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Limite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cronograma)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
